
/*----------------------------------------------------------------------------
Tela Inicial
----------------------------------------------------------------------------*/
.fundo_padrao{
    max-height: fit-content;
    max-width: fit-content;
    background-color: #001e30;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.link_cadastro{
    cursor: pointer;
}
.conteudo{
    display: flex;
    align-self: center;
    justify-self: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.conteudo .container{
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 500px;
    justify-content: center;
    align-content: center;
}
.conteudo .container .logo_inicio{
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    width: 50%;
    height: 400px;
}
.slider_background{
    position: fixed;
    z-index: -1;
    display: flex;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider_background .lista1{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantidade));
    position: relative;
}
.slider_background .lista1 .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 60%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( (10s / var(--quantidade)) * (var(--position) - 1) );
}
.slider_background .lista1 .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 60%;
    } to {
        left: calc(var(--width) * -1);
    }
}

/*----------------------------------------------------------------------------
Barra de Navegação
----------------------------------------------------------------------------*/

.nav_head{
    margin: 0;
    padding: 0;
    
}
.nav_head .nav_links a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.nav_head .nav_links a:hover{
    opacity: 0.7;
    cursor: pointer;
}
.nav_logo{
    display: flex;
    width: 300px;
    height: 100px;
}
.nav_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(12, 15, 34);
    height: 8vh;
}
.nav_list{
    list-style: none;
    display: flex;
}
.nav_list li{
    letter-spacing: 3px;
    margin-left: 32px;
}